.collapse {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3 {
    background-color: $color-2;
    color: $color-1;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.3em;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }

  .content {
    background-color: $color-5;
    color: $color-2;
    padding: 15px;
  }
}
