.navigation{
    margin: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img{
        width: auto;
        height: 60px;
    }

    ul{
        display: flex;
    }

    a{
        color: $color-2;
        text-decoration: none;
        list-style-type: none;
        font-size: 1.3em;

        &:nth-child(1){
            margin-right: 30px;
        }

        &:hover{
            text-decoration: underline;
            text-decoration-color: $color-2;
        }
    }

    @media screen and (max-width : 500px){
        margin: 20px 10px;

        img{
            width: auto;
            height: 40px;
            margin-right: 30px;
        }

        a{
            font-size: 1.1em;

            &:nth-child(1){
                margin-right: 20px;
            }
        }

    }
}