.navigation {
  margin: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    width: auto;
    height: 60px;
  }

  ul {
    display: flex;
  }

  a {
    color: $color-2;
    text-decoration: none;
    list-style-type: none;
    font-size: 1.3em;

    &:nth-child(1) {
      margin-right: 30px;
    }

    &:hover {
      text-decoration: underline;
      text-decoration-color: $color-2;
    }
  }

  @media screen and (max-width: 767px) {
    margin: 20px 20px;

    img {
      width: auto;
      height: 40px;
      margin-right: 10px;
    }

    a {
      font-size: 0.8em;
      text-transform: uppercase;

      &:nth-child(1) {
        margin-right: 10px;
      }
    }
  }
}
