.tags {
  display: flex;
  justify-content: flex-start;
  width: 100%;

  p {
    background-color: $color-2;
    color: $color-1;
    font-size: 0.8em;
    padding: 5px 15px;
    margin-right: 10px;
    border-radius: 10px;
    text-align: center;
  }
}
