.CollapseAbout {
  margin: 20px 120px;

  h3 {
    border-radius: 5px;
    padding: 10px;
  }

  p {
    padding: 15px;
  }

  .content {
    border-radius: 5px;
    padding-top: 10px;
  }

  @media screen and (max-width: 767px) {
    margin: 20px 20px;
  }
}
