.housing {
  margin: 20px 40px;

  .housedetails {
    width: 70%;

    h1 {
      color: $color-2;
    }

    h2 {
      color: $color-2;
      font-size: 1em;
      margin-top: 10px;
    }
  }

  .housedetails2 {
    display: flex;
    align-items: flex-start;
    margin-top: 15px;

    .tags {
      display: flex;
      width: 100%;

      p {
        background-color: $color-2;
        color: $color-1;
        font-size: 0.9em;
        padding: 5px 15px;
        margin-right: 10px;
        border-radius: 10px;
      }
    }

    .host {
      display: flex;
      align-items: center;
      position: absolute;
      right: 40px;
      top: 540px;

      img {
        width: auto;
        height: 64px;
        border-radius: 50%;
      }

      p {
        color: $color-2;
        width: 70px;
        position: relative;
        right: 20px;
        text-align: end;
      }
    }
  }

  .housedetails3 {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    h3,
    .content {
      padding: 15px;
      border-radius: 10px;
    }

    .content {
      height: 200px;
      padding-top: 45px;
    }

    p {
      padding-bottom: 5px;
    }

    .description,
    .equipments {
      display: flex;
      flex-direction: column;
      width: 650px;
    }

    .description {
      margin-right: 20px;
    }
  }

  @media screen and (max-width: 767px) {
    margin: -20px 20px;

    .housedetails {
      width: 100%;

      h1 {
        font-size: 1.1em;
      }

      h2 {
        font-size: 0.9em;
      }
    }

    .housedetails2 {
      flex-direction: column;

      .tags {
        flex-wrap: wrap;

        p {
          margin-bottom: 10px;
          border-radius: 5px;
          font-size: 0.8em;
        }
      }

      .ratingshost {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 5px;

        .host {
          position: initial;

          img {
            height: 32px;
          }

          p {
            font-size: 0.9em;
          }
        }
      }
    }

    .housedetails3 {
      flex-direction: column;

      h3 {
        padding: 10px;
        border-radius: 5px;
        font-size: 1em;
      }

      .content {
        height: 150%;
        font-size: 0.9em;
      }

      .description,
      .equipments {
        width: 100%;
      }

      .description {
        margin-bottom: 25px;
      }
    }
  }
}
