.housing {
  margin: 20px 40px;

  .housedetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    .housename {
      width: 70%;

      h1 {
        color: $color-2;
        font-size: 2em;
      }

      h2 {
        color: $color-2;
        font-size: 1em;
        margin-top: 10px;
      }
    }

    .host {
      display: flex;
      align-items: center;
      position: relative;
      bottom: 10px;

      img {
        width: auto;
        height: 64px;
        border-radius: 50%;
      }

      p {
        color: $color-2;
        width: 70px;
        text-align: center;
        position: relative;
        right: 20px;
        text-align: end;
      }
    }
  }

  .housedetails2 {
    display: flex;
    align-items: flex-start;
    margin-top: 15px;
    position: relative;

    .tags {
      display: flex;
      justify-content: flex-start;
      width: 100%;

      p {
        background-color: $color-2;
        color: $color-1;
        font-size: 0.8em;
        padding: 5px 15px;
        margin-right: 10px;
        border-radius: 10px;
        text-align: center;
      }
    }
  }

  .housedetails3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;

    h3,
    .content {
      padding: 15px;
      border-radius: 10px;
    }

    .content {
      height: 200px;
      padding-top: 45px;
    }

    p {
      padding-bottom: 5px;
    }

    .description,
    .equipments {
      display: flex;
      flex-direction: column;
      width: 550px;
    }

    .description {
      margin-right: 20px;
    }
  }

  @media screen and (max-width: 767px) {
    margin: 20px 20px;

    .housedetails {
      align-items: flex-end;

      .housename {
        width: 100%;

        h1 {
          font-size: 1.1em;
        }

        h2 {
          font-size: 0.9em;
          margin-bottom: -10px;
        }
      }

      .host {
        top: 120px;

        img {
          height: 32px;
        }

        p {
          font-size: 0.8em;
          width: 50px;
        }
      }
    }

    .housedetails2 {
      flex-direction: column;
      margin-bottom: 40px;

      .tags {
        height: 80px;
        flex-wrap: wrap;
        align-items: center;

        p {
          padding: 5px 15px;
          margin-bottom: 10px;
          height: 15px;
          border-radius: 5px;
        }
      }
    }

    .housedetails3 {
      flex-direction: column;

      .description,
      .equipments {
        width: 100%;
        font-size: 0.8em;
      }

      .description {
        margin-bottom: 25px;
      }
    }
  }
}
