$color-1: #fff;
$color-2: #ff6060;
$color-3: #f6f6f6;
$color-4: #000;

@font-face {
  font-family: font-1;
  src: url(../polices/Montserrat-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $color-1;
  font-family: "font-1", sans-serif;
}
