@font-face {
  font-family: font-1;
  src: url(../polices/Montserrat-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: "font-1", sans-serif;
}

.banner {
  margin: 30px 40px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 10px;
}
.banner img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(0.7);
}
.banner p {
  color: #fff;
  position: absolute;
  z-index: 1;
  font-size: 2.5em;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .banner {
    margin: 20px 20px;
    height: 100px;
  }
  .banner p {
    font-size: 1.3em;
    width: 80%;
  }
}
@media screen and (max-width: 375px) {
  .banner p {
    text-align: left;
    width: 60%;
    margin-left: -70px;
  }
}

@media screen and (max-width: 767px) {
  #banner2 {
    height: 200px;
  }
}

.cardContainer {
  margin: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 20px;
  background-color: #f6f6f6;
}
@media screen and (max-width: 767px) {
  .cardContainer {
    background-color: #fff;
    margin: 20px 20px;
  }
  .cardContainer a {
    width: 100%;
  }
}

.card {
  width: 320px;
  height: 320px;
  border-radius: 10px;
  margin: 30px;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
}
.card h2 {
  margin: 10px;
  position: absolute;
  color: #fff;
  z-index: 1;
  font-size: 1.1em;
  width: 70%;
}
.card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  filter: brightness(0.8);
}
@media screen and (max-width: 1023px) {
  .card {
    width: 280px;
    height: 250px;
  }
}
@media screen and (max-width: 767px) {
  .card {
    width: 100%;
    margin: 10px 0px;
  }
}

.collapse {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.collapse h3 {
  background-color: #ff6060;
  color: #fff;
  font-size: 1.3em;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.collapse h3 img {
  width: auto;
  height: 12px;
  margin-right: 10px;
}
.collapse .content {
  background-color: #f7f7f7;
  color: #ff6060;
  margin-top: -10px;
  z-index: -1;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #000;
  height: 200px;
  margin-top: 100px;
}
.footer img {
  margin-bottom: 40px;
}
.footer p {
  color: #fff;
  font-size: 1.1em;
}
@media screen and (max-width: 767px) {
  .footer img {
    margin-bottom: 30px;
    width: auto;
    height: 40px;
  }
  .footer p {
    font-size: 0.7em;
  }
}

.navigation {
  margin: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation img {
  width: auto;
  height: 60px;
}
.navigation ul {
  display: flex;
}
.navigation a {
  color: #ff6060;
  text-decoration: none;
  list-style-type: none;
  font-size: 1.3em;
}
.navigation a:nth-child(1) {
  margin-right: 30px;
}
.navigation a:hover {
  text-decoration: underline;
  text-decoration-color: #ff6060;
}
@media screen and (max-width: 767px) {
  .navigation {
    margin: 20px 20px;
  }
  .navigation img {
    width: auto;
    height: 40px;
    margin-right: 10px;
  }
  .navigation a {
    font-size: 0.8em;
    text-transform: uppercase;
  }
  .navigation a:nth-child(1) {
    margin-right: 10px;
  }
}

.ratings {
  display: flex;
}
.ratings img {
  width: auto;
  height: 20px;
  margin-right: 3px;
}
@media screen and (max-width: 767px) {
  .ratings img {
    height: 15px;
  }
}

.sliderComponent {
  margin: 20px 40px;
  height: 420px;
  position: relative;
}
.sliderComponent .LeftArrow {
  left: 0px;
}
.sliderComponent .LeftArrow img {
  left: 20px;
}
.sliderComponent .RightArrow {
  right: 0px;
}
.sliderComponent .LeftArrow,
.sliderComponent .RightArrow {
  position: absolute;
  top: 47%;
  transform: translate(0, -50%);
  z-index: 1;
  cursor: pointer;
  width: 70px;
  height: 400px;
}
.sliderComponent .LeftArrow img,
.sliderComponent .RightArrow img {
  width: auto;
  height: 80px;
  position: relative;
  top: 155px;
}
.sliderComponent .slider Img {
  width: 100%;
  height: 400px;
  border-radius: 25px;
  -o-object-fit: cover;
     object-fit: cover;
}
.sliderComponent .dots {
  display: flex;
  justify-content: center;
  position: relative;
  top: -50px;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .sliderComponent {
    margin: 20px 20px;
    height: 280px;
  }
  .sliderComponent .LeftArrow,
  .sliderComponent .RightArrow {
    width: 40px;
    height: 260px;
    top: 46%;
  }
  .sliderComponent .LeftArrow img,
  .sliderComponent .RightArrow img {
    width: auto;
    height: 20px;
    position: relative;
    top: 120px;
  }
  .sliderComponent .LeftArrow {
    left: 0px;
  }
  .sliderComponent .LeftArrow img {
    left: 10px;
  }
  .sliderComponent .RightArrow {
    right: 0px;
  }
  .sliderComponent .RightArrow img {
    left: 18px;
  }
  .sliderComponent .slider img {
    height: 260px;
    border-radius: 10px;
  }
}

.CollapseAbout {
  margin: 20px 120px;
}
.CollapseAbout h3 {
  border-radius: 5px;
  padding: 10px;
}
.CollapseAbout p {
  padding: 15px;
}
.CollapseAbout .content {
  border-radius: 5px;
  padding-top: 10px;
}
@media screen and (max-width: 767px) {
  .CollapseAbout {
    margin: 20px 20px;
    font-size: 0.8em;
  }
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ff6060;
  text-align: center;
}
.error p:nth-child(1) {
  font-size: 15em;
  font-weight: bolder;
}
.error p:nth-child(2) {
  font-size: 1.5em;
}
.error a {
  color: #ff6060;
  list-style-type: none;
  text-decoration: none;
  margin: 120px 0px 0px 0px;
}
.error a:hover {
  text-decoration: underline;
  text-decoration-color: #ff6060;
}
@media screen and (max-width: 767px) {
  .error p:nth-child(1) {
    font-size: 4em;
    margin-top: 90px;
  }
  .error p:nth-child(2) {
    font-size: 1em;
    width: 60%;
  }
  .error a {
    margin: 90px 0px;
  }
}

.housing {
  margin: 20px 40px;
}
.housing .housedetails {
  width: 70%;
}
.housing .housedetails h1 {
  color: #ff6060;
}
.housing .housedetails h2 {
  color: #ff6060;
  font-size: 1em;
  margin-top: 10px;
}
.housing .housedetails2 {
  display: flex;
  align-items: flex-start;
  margin-top: 15px;
}
.housing .housedetails2 .tags {
  display: flex;
  width: 100%;
}
.housing .housedetails2 .tags p {
  background-color: #ff6060;
  color: #fff;
  font-size: 0.9em;
  padding: 5px 15px;
  margin-right: 10px;
  border-radius: 10px;
}
.housing .housedetails2 .host {
  display: flex;
  align-items: center;
  position: absolute;
  right: 40px;
  top: 540px;
}
.housing .housedetails2 .host img {
  width: auto;
  height: 64px;
  border-radius: 50%;
}
.housing .housedetails2 .host p {
  color: #ff6060;
  width: 70px;
  position: relative;
  right: 20px;
  text-align: end;
}
.housing .housedetails3 {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.housing .housedetails3 h3,
.housing .housedetails3 .content {
  padding: 15px;
  border-radius: 10px;
}
.housing .housedetails3 .content {
  height: 200px;
  padding-top: 45px;
}
.housing .housedetails3 p {
  padding-bottom: 5px;
}
.housing .housedetails3 .description,
.housing .housedetails3 .equipments {
  display: flex;
  flex-direction: column;
  width: 550px;
}
.housing .housedetails3 .description {
  margin-right: 20px;
}
@media screen and (max-width: 767px) {
  .housing {
    margin: -20px 20px;
  }
  .housing .housedetails {
    width: 100%;
  }
  .housing .housedetails h1 {
    font-size: 1.1em;
  }
  .housing .housedetails h2 {
    font-size: 0.9em;
  }
  .housing .housedetails2 {
    flex-direction: column;
  }
  .housing .housedetails2 .tags {
    flex-wrap: wrap;
  }
  .housing .housedetails2 .tags p {
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 0.8em;
  }
  .housing .housedetails2 .ratingshost {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 5px;
  }
  .housing .housedetails2 .ratingshost .host {
    position: initial;
  }
  .housing .housedetails2 .ratingshost .host img {
    height: 32px;
  }
  .housing .housedetails2 .ratingshost .host p {
    font-size: 0.9em;
  }
  .housing .housedetails3 {
    flex-direction: column;
  }
  .housing .housedetails3 h3 {
    padding: 10px;
    border-radius: 5px;
    font-size: 1em;
  }
  .housing .housedetails3 .content {
    height: 150%;
    font-size: 0.9em;
  }
  .housing .housedetails3 .description,
  .housing .housedetails3 .equipments {
    width: 100%;
  }
  .housing .housedetails3 .description {
    margin-bottom: 25px;
  }
}/*# sourceMappingURL=index.css.map */